/* URL da fonte importada  */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;400&display=swap');


/* Container que engloba toda a página */

.container{
    width: 700px;
    background-color: black;
    width: 1325px;
    height: 618px;
    font-family: 'IBM Plex Sans', sans-serif;   
    }

/* Container da Logo */

#logo{
    align-items: center;
    margin-left: 520px;
    margin-bottom: 40px;
    }


 /*Container do "Quem está assistindo"*/
#watching{
    color: white;
    margin-left: 460px;
    margin-bottom: 40px;
    font-size: 35px;
}

/* Flexbox dos usuários */

.users{
    
    
    color: #9C9C9C;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 700px;
    margin-left: 300px;
    justify-content: space-between;
    gap:40px;
    font-size: 17px;
    box-sizing: border-box;
    
}

/* Formatação da foto/animação dos usuários */

.user-png{

    border-radius: 10px;
    transition: transform 100ms linear;
    width: 160px;
}

/* hoover */
    
.user-png:hover{
    transform: scale(1.08);
    font-size: 17px;
    color:rgba(255, 255, 255, 0.932); 
}

/* seção do botão final */

#end-button{
    color: white;
    margin-top: 60px;
    margin-left: 600px;
    border-radius: 9px;
    border-color: white;
    box-sizing: border-box;
    position: absolute;
    background:#000000;
    width: 160px;
    height: 40px;
    transition: transform 100ms linear;
}

/* hoover do botão */

#end-button:hover{
    transform: scale(1.08);
    border-radius: 2px;
    background-color: white;
    color:#000000;
}

